* {
  box-sizing: border-box;
}

.btn {
  background: hsl(0, 0%, 90%);
  border: 1px solid hsl(0, 0%, 70%);
  outline: none;
  cursor: pointer;
  padding: .5em 1em;
  border-radius: .3em;
}

.btn:hover, .btn:focus  {
  background-color: hsl(0, 0%, 80%);
  /* x , y offset  blur 模糊度 spread 延伸範圍  */
  box-shadow: 0 0 5px 0 hsl(0, 0%, 70%);
}

/* HSL 
hue 色相 0~360度 0 red ; 120 green ; 240 blue ; 
lightness 明亮度 0~100% 越高就越亮
saturation 飽和度 越高越飽和 */

.btn.btn-primary {
  background-color: hsl(271, 70%, 50%);
  border-color: hsl(271, 70%, 30%);
  color: whitesmoke;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
  background-color: hsl(271, 70%, 40%);
  box-shadow: 0 0 5px 0 hsl(271, 70%, 30%);
}

.btn.btn-accent {
  background-color: hsl(200, 70%, 40%);
  border-color: hsl(200, 70%, 20%);
  color: whitesmoke;
}

.btn.btn-accent:hover, .btn.btn-accent:focus {
  background-color: hsl(200, 80%, 80%);
  box-shadow: 0 0 5px 0 hsl(200, 60%, 60%);
}

.btn.btn-danger {
  background-color: hsl(0, 40%, 50%);
  border-color: hsl(0, 35%, 30%);
  color: whitesmoke;
}

.btn.btn-danger:hover, .btn.btn-danger:focus {
  background-color: hsl(0, 100%, 60%);
  box-shadow: 0 0 5px 0 hsl(0, 100%, 80%);
}

.btn.btn-large {
  font-size: 1.2rem;
}

.btn.btn-small {
  font-size: .75rem;
}

.btn.btn-pill {
  border-radius: 100rem;
}

.btn.btn-custom {
  background: linear-gradient(to right, hsl(271, 70%, 50%),  hsl(200, 70%, 50%));
  color: whitesmoke;
  border-color: #222;
}

.btn.btn-custom:hover, .btn.btn-custom:focus {
  background: linear-gradient(to right, hsl(271, 70%, 40%),  hsl(200, 100%, 40%));
  color: whitesmoke;
  border-color: black;
  box-shadow: 0 0 5px black;

}